<section class="py-6">
  <!--  search and filter -->
  <div class="py-4">
    <div>
      <p-iconfield>
        <p-inputicon>
          <svg data-p-icon="search" />
        </p-inputicon>
        <input type="text" pInputText placeholder="Search" class="!rounded-full"/>
      </p-iconfield>
    </div>
  </div>

  <!--  cards-->
  @if (products.error()) {
    <app-product-error />
  } @else if (products.isLoading()) {
    <app-product-loading />
  } @else {
    <div class="grid lg:grid-cols-4 gap-6 md:grid-cols-2 grid-cols-1">
      @for ( item of products.value(); track item) {
        <app-product-card [product]="item"/>
      } @empty {
        <app-product-empty />
      }
    </div>
  }

  <!--  pagination -->
<!--  <div class="flex justify-end pt-4">-->
<!--    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]" />-->
<!--  </div>-->
</section>
